{
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "none",
  "quoteProps": "preserve",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "preserve"
}
